<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd
">
<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
  <property name="driverClassName"> 
          <value>com.mysql.jdbc.Driver</value>
  </property>
  <property name="url">
          <value>jdbc:mysql://127.0.0.1:3306/test</value>
  </property>
  <property name="username">
          <value>root</value>
  </property>
  <property name="password">
      <value></value>
  </property> 
</bean> 
<bean id="userDao" class="SpringDAO.DAO.UserDAO" depends-on="dataSource">
    <property name="dataSource" ref="dataSource"></property>
</bean>
</beans>