<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">
<configuration>
	<environments default="environment">
		<environment id="environment">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://localhost:3306/test?characterEncoding =UTF-8" />
				<property name="username" value="root" />
				<property name="password" value="" />
			</dataSource>
		</environment>
	</environments>
	
	<!--
	是使用实体配置的实现，如果使用注解则不需要添加。
	mapper设置绝对路径、相对路径或者是类名
	package是包名，批量加载
	<package name="com.pushshow.weixin.mapping"/>
	<mapper class="com.pushshow.weixin.mapping.IPersonMapping"/>  
	-->
	<mappers> 
		
		<package name="com.pushshow.weixin.mapping"/>
	</mappers>
	
</configuration>